@model AnimeShop.Models.Reviews

@{ ViewData["Title"] = "Удалить"; }

<h2>Удалить отзыв</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>Отзыв</dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>Описание</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>Оценка</dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>Дата</dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>Товар</dt>
        <dd>
            @Html.DisplayFor(model => model.Anime.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index">Вернуться к списку</a>
        </div>
    </form>
</div>
