@model IEnumerable<Reviews>

@{
    var ModelName = "Все отзывы";
    ViewData["Title"] = ModelName;
}

<h2>Все отзывы</h2>
<h4 id="currentlySortedBy">Сортировка: </h4>

<div>
    <select id="SelectOptionInput" onchange="ListSortedReviewsScript()">
        <option value="Date">Дата</option>
        <option value="Grade">Оценка</option>
        <option value="Title">Отзыв</option>
        <option value="Anime Name">Товар</option>
    </select>
</div>
<br />

<div id="outputResult">

</div>

<div id="defaultResult">
    @Html.Partial("ListAllReviewsPartial", Model)
</div>

@section Scripts
{
    <script src="~/js/Reviews.js"></script>
}

@*<table class="table">
        <thead>
            <tr>
                    <th>Отзыв</th>
                    <th>Описание</th>
                    <th>Оценка</th>
                    <th>Дата </th>
                <th>Товар</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anime.Name)
                </td>

                <td>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Подробнее</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
